.navbar {
  width: 100%;
  background-color: #E2F6F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.navbar .logo h3 {
  font-size: 24px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar ul li a {
  color: black;
  display: flex;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
  margin: 0px 60px;
}
.navbar ul li a:hover {
  color: #0000e8;
}
.navbar .account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar .account img {
  background: rgba(85, 85, 85, 0.1490196078);
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.btn-login button {
  background-color: rgb(28, 28, 255);
  color: white;
  width: 80px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}
.btn-login button:hover {
  background-color: rgb(28, 28, 255);
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.card-btn button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(28, 28, 255);
  color: white;
  transition: background-color 0.3s;
}
.card-btn button:hover {
  background-color: rgb(28, 28, 255);
}

.cards-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-btn button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(28, 28, 255);
  color: white;
  transition: background-color 0.3s;
}
.cards-btn button:hover {
  background-color: rgb(28, 28, 255);
}

.cardes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardes-btn button {
  background-color: rgb(28, 28, 255);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.cardes-btn button:hover {
  background-color: rgb(28, 28, 255);
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2px;
  text-align: center;
  gap: 24px;
}
.main-container h1 {
  font-size: 40px;
  color: black;
  margin-top: 50px;
}
.main-container p {
  font-size: 18px;
  color: rgba(65, 63, 63, 0.9411764706);
  position: relative;
  bottom: 20px;
}
.main-container .main-container-top {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 66vh;
  border: 1px solid rgba(85, 85, 85, 0.1490196078);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
  left: 30px;
  gap: 20px;
}
.main-container .main-container-top .img-top {
  flex: 0.6;
}
.main-container .main-container-top .img-top img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main-container .main-container-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 95%;
  height: 66vh;
  border: 1px solid rgba(85, 85, 85, 0.1490196078);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  position: relative;
  left: 30px;
}
.main-container .main-container-button .img-btt {
  flex: 0.8;
}
.main-container .main-container-button .img-btt img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-container .main-vdo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.main-container .main-vdo iframe {
  width: 100%;
  max-width: 385px;
  height: 250px;
  border: none;
  border-radius: 8px;
}
.main-container .main-time {
  width: 95%;
  height: 66vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
  left: 30px;
  border-radius: 10px;
}
.main-container .main-time .time {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.main-container .main-time .time img {
  max-width: 100px;
  height: auto;
  margin-bottom: 0.5px;
  position: relative;
  top: 50px;
}
.main-container .main-time .time h1 {
  font-size: 30px;
  color: rgba(65, 63, 63, 0.9411764706);
  position: relative;
  top: 20px;
}
.main-container .main-time .times {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  right: 210px;
  bottom: 50px;
}
.main-container .main-time .times p {
  display: flex;
  font-weight: bold;
  font-size: 40px;
  color: rgba(65, 63, 63, 0.9411764706);
  position: relative;
  left: 150px;
  top: 10px;
}
.main-container .main-partner {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 66vh;
  border-top: 2px solid rgba(65, 63, 63, 0.9411764706);
  position: relative;
  left: 30px;
  gap: 50px;
}
.main-container .main-partner .main-people {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 150px;
  left: 40px;
  text-align: center;
}
.main-container .main-partner .main-people .partner-people {
  font-size: 60px;
  color: rgba(65, 63, 63, 0.9411764706);
  display: flex;
  font-weight: bold;
}
.main-container .main-partner .main-people .text {
  font-size: 18px;
  text-align: start;
  margin: 0px 16px;
}
.main-container .main-insurance {
  width: 95%;
  height: 66vh;
  position: relative;
  bottom: 200px;
  left: 30px;
}
.main-container .main-insurance h1 {
  position: relative;
  bottom: 40px;
  left: 20px;
}
.main-container .main-insurance img {
  margin-bottom: 150px;
}

.cardes-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.8;
}
.cardes-top .letter {
  margin: 8px;
}
.cardes-top .letter h2 {
  font-size: 30px;
  color: rgba(65, 63, 63, 0.9411764706);
  position: relative;
  right: 180px;
}
.cardes-top .letter p {
  padding: 10px;
  font-size: 18px;
  position: relative;
  bottom: 20px;
  top: 3px;
}
.cardes-top .card-about {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.cardes-top .card-about .card {
  width: 200px;
  background-color: white;
  border: 1px solid rgba(85, 85, 85, 0.1490196078);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
}
.cardes-top .card-about .card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
.cardes-top .card-about .card h5 {
  font-size: 20px;
  color: rgba(65, 63, 63, 0.9411764706);
  margin: 8px 0;
}
.cardes-top .card-about .card p {
  font-size: 14px;
  color: rgba(65, 63, 63, 0.9411764706);
  position: relative;
  bottom: 10px;
}

.cardes-btt {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.cardes-btt .letter {
  margin: 8px;
}
.cardes-btt .letter h2 {
  font-size: 30px;
  color: rgba(65, 63, 63, 0.9411764706);
  position: relative;
  right: 50px;
}
.cardes-btt .letter p {
  padding: 10px;
  font-size: 18px;
  position: relative;
  bottom: 20px;
  top: 4px;
}
.cardes-btt .cards-about {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.cardes-btt .cards-about .cards {
  width: 200px;
  background-color: white;
  border: 1px solid rgba(85, 85, 85, 0.1490196078);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.cardes-btt .cards-about .cards img {
  max-width: 100%;
  height: auto;
}
.cardes-btt .cards-about .cards h5 {
  font-size: 20px;
  color: rgba(65, 63, 63, 0.9411764706);
  margin: 8px 0;
}
.cardes-btt .cards-about .cards p {
  font-size: 14px;
  color: rgba(65, 63, 63, 0.9411764706);
  position: relative;
  bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #E2F6F4;
  color: rgba(65, 63, 63, 0.9411764706);
  flex-wrap: wrap;
}
.footer h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgba(65, 63, 63, 0.9411764706);
}
.footer p {
  font-size: 14px;
  margin: 5px 0;
}
.footer .footer-home, .footer .footer-service, .footer .footer-contant {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
  position: relative;
  left: 100px;
}
.footer .facebook {
  gap: 10px;
}
.footer .address, .footer .email, .footer .phone, .footer .facebook {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin: 5px;
}
.footer .address img, .footer .email img, .footer .phone img, .footer .facebook img {
  width: 22px;
  height: auto;
  margin-right: 10px;
}

.save-year {
  text-align: center;
  padding: 20px;
  background-color: rgba(190, 224, 178, 0.6941176471);
  color: black;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: serif;
  width: 100%;
}/*# sourceMappingURL=main.css.map */