
@import'components/navbar';
@import 'components/variable';
@import'components/main';
@import'components/container';
@import'components/box-cards';
@import'components/footer';
@import'./mixins/responsive';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-family;
    color: $text-color;
  }

@import "./components/variable";
@import "./components/navbar";
@import "./components/button";
@import "./components/main";
@import "./components/cardes";
@import "./mixins/group-mixin";
@import "./components/footer";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: serif;
    width: 100%;
}

