@import "./components/variable";
@import "./components/navbar";
@import "./components/button";
@import "./components/main";
@import "./components/cardes";
@import "./mixins/group-mixin";
@import "./components/footer";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: serif;
    width: 100%;
}