@import'./variable';

.box-cards{
   background:$secondprimary;
   height:100%;
   width: 100%;
   gap: 20px;
   #h1{
    text-align: center;
    }
    #h1:hover{
        color:$h1-hover-color;
    }
}
.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
    padding: 40px;
}
.box-card-1{
    background:$secondprimary;
    width: 30%;
    height: 80vh;
    margin-top: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow:$shadow-bg;
}
.box-card-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    margin-top: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow:$shadow-bg;
}
.box-card{
    background:$secondprimary;
    flex-direction: row;
    width: 30%;
    height: 80vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow:$shadow-bg;
    h1{
        text-align: center;;
        font-size: 30px;
        // margin-top: 40px;
    }
    p{
        font-size: 16px;
        line-height: 30px;
    }
}
.card3{
    p{
        text-align: center;
        margin-top: 10px;
    }
}

.images{
    height: 50%;
    width: 100%;

}
.h1{
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}
.h1:hover{
    color:$h1-hover-name;
    border-radius: 10px;
}
.box-card-p{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    line-height: 30px;
}
#box-card-p{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 30px;
    text-align: center;
    line-height: 25px;
}
