@import'./variable';

.box-cards{
   background:$secondprimary;
   width: 100%;
   gap: 20px;
   #h1{
    text-align: center;
    }
    #h1:hover{
        color:$h1-hover-color;
    }
    .box{
        display: flex;
        justify-content: space-around;
        .card1{
            background:$secondprimary;
            flex-direction: row;
            width: 30%;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 30px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            h1{
                text-align: center;;
                font-size: 30px;
            }
            p{
                font-size: 16px;
                line-height: 30px;
            }
            .images{
                height: 50%;
                width: 100%;
            
            }
        }
    }
}
.h1{
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}
.h1:hover{
    color:$h1-hover-name;
    border-radius: 10px;
}
.box-card-p{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    line-height: 30px;
}
#box-card-p{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 30px;
    text-align: center;
    line-height: 25px;
}
