@import "./variable";
.btn-login {
    button {
        background-color:$primary; 
        color: $secondprimary;
        width: 80px;
        padding:10px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        transition: background-color 0.3s;
        &:hover {
            background-color:$primary;
        }
    }
}
.card-btn {
    @include centered;
    margin-bottom: 14px;
    button {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        background-color: $primary; 
        color: $secondprimary;
        transition: background-color 0.3s;

        &:hover {
            background-color: $primary;
        }
    }
}
.cards-btn {
    @include centered;
    button {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        background-color: $primary; 
        color: $secondprimary;
        transition: background-color 0.3s;

        &:hover {
            background-color: $primary;
        }
    }
}
.cardes-btn {
    @include centered;
    button {
        background-color: $primary; 
        color: $secondprimary;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s;
        &:hover {
            background-color: $primary;
        }
    }
}
.service-btn {
    button {
      background-color:$primary;
      color: $secondprimary;
      border: none;
      padding: 20px;
      font-size: $secondprimary;
      border-radius: 4px;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
}
.submit {
    display: flex;
    justify-content: center;
    
    button {
      background-color: $bg-button-bg;
      color: $secondprimary;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      
      &:hover {
        background-color: darken($primary, 10%);
      }
    }
}
.btn-submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      background-color: $bg-button-bg;
      color: $secondprimary;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: darken($bg-button-bg, 10%);
      }
    }
  }


