@import'./variable';
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:$hoverprimary ;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 2px 0;
    font-family: Arial, sans-serif;
    text-align: center;
    
    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        // padding-bottom: 10px;
        gap: 20px;
  
        .footer-home, .footer-service, .footer-contant {
            flex: 1;
            max-width: 300px;
            margin:10px;
            text-align: left;
            
    
            span {
            display:flex;
            font-size: 20px;
            font-weight: bold;
            margin-bottom:10px;
            color:$listcolor;
    
            a {
                color: $listcolor;
                text-decoration: none;
                &:hover {
                color:$primary;
                }
            }
            }
    
            p {
                color: $listcolor;
                font-size: 20px;
            }
    
            .address, .email, .phone, .facebook {
            display: flex;
            align-items: center;
            margin-top: 15px;
    
            img {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }
    
            p {
                margin: 0;
                line-height: 20px;
            }
            }
    
            .facebook {
            img {
                margin-right: 10px;
            }
    
            p {
                color: $listcolor;
                margin-right: 10px;
            }
            }
        }
        .footer-contant{
            h6{
                @include bold;
                font-size: 20px;
                color: $listcolor;
                margin: 10px;
            }
        }
    }
  
    .save-year {
        background-color: $footerbackgroun;
        color: $listcolor;
        width: 100%;
        height: auto;
        padding: 20px;
        font-size: 20px;
    }
}
  