// // @import'../mixins/responsive';
@import "variable";

.navbar {
  background-color: $primary-color;
  flex-direction: column;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin: 10px;

      a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: lighten($primary-color, 20%);
        }
      }
    }
  }
}