// // @import'../mixins/responsive';
@import "variable";

.navbar {
  background-color: $primary-color;
  flex-direction: row;
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:$text-color;
  font-size: 30px;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin: 10px;

      a {
        color:$text-color;
        text-decoration: none;
        &:hover {
          color:$haver-nav-bg;
        }
      }
    }
  }
}
.logo{
  display: flex;
  width: 20%;
  margin: 20px;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.logo > h1{
  font-size: 30px;
  gap: 20px;
  margin-left:3%;
  
}
.logo:hover{
    color:$logo-hover;
}
#img{
  width: 35%;
  height: 15vh;
  background: none;
}
img{
  width: 35%;
  height: 15vh;
  background: none;
}
button{
  display: flex;
  background:$bg-button-bg;
  color:$text-color-white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40%;
  margin: 30px;
  padding: 30px;
  height: 5vh;
  font-size: 30px;
  font: bold;
}
button:hover {
  background-color:$button-hover;
}
