$primary: rgb(28, 28, 255);
$secondprimary:#ffff;
$hoverprimary: #E2F6F4;
$listcolor:black;
$accbackgroun:#33333374;
$paragrapcolor:#413f3ff0;
$footerbackgroun:#bee0b2b1;
$save-year-bg:#F0FDEB;
$btn-bg: rgb(5, 18, 164);
$card-bg:rgba(94, 159, 249, 0.046)