
$primary-color: #E2F6F4;
$text-color: #333;
$haver-nav-bg:pink;
$bg-button-bg: blue;
$button-hover:red;
$h1-hover-name:skyblue;
$h1-hover-color:rgb(46, 44, 123);
$shadow-bg:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$primary: rgb(28, 28, 255);
$secondprimary:#ffff;
$hoverprimary: #E2F6F4;
$listcolor:black;
$accbackgroun:#33333374;
$paragrapcolor:#413f3ff0;
$footerbackgroun:#bee0b2b1;
$card-bg:rgba(6, 6, 234, 0.518);
$input-color:rgba(128, 128, 128, 0.217);