$primary-color: #E2F6F4;
$text-color: #333;
$font-family: Arial, sans-serif;
$logo-size: 20px;
$text-color:black;
$text-color-white:white;
$container-bg:white;
$box-cards-bg:rgb(255, 255, 255);
$haver-nav-bg:pink;
$bg-button-bg: blue;
$bg-color-white-bg:white;
$logo-hover:blue;
$button-hover:red;
$h1-hover-name:skyblue;
$h1-hover-color:rgb(46, 44, 123);
$shadow-bg:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;