@media (min-width: 768px) and (max-width: 1024px) {
    .main{
        width: 100%;
        img{
            flex: 0.5;
            width: 10%;
        }
        .title{
            flex: 2;
        }
    }
    .container{
        .container-left{
            #container-img{
                width: 80%;
                height: 50%;
            }
        }
    }
    .box-cards{
        .box{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: none;
            margin: 0px 10px;
            .card1{
                width: 48.2%;
                .imges{
                    width: 80%;
                    height: 30%;
                }
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .main{
        width: 100%;
        img{
            position: relative;
            bottom:200px;
        }
        .title{
            h6{
                font-size: 10px;
            }
            h2{
                font-size: 10px;
            }
        }
    }
    .container{
        .container-left{
            #container-img{
                width: 80%;
                height: 50%;
            }
        }
        .container-right{
            h3{
                font-size: 20px;
                font-weight: bold;
            }
            h6{
                font-size: 14px;
                text-align: start;
            }
        }
    }
    .box-cards{
        .box{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: none;
            margin: 0px 10px;
            .card1{
                width: 100%;
                .imges{
                    width: 80%;
                    height: 30%;
                }
            }
        }
    }
}